---
import Container from "./container.astro";
import Themeswitch from "./themeswitch.astro";
import siteConfig from '../data/site-config';

const socialLinks = siteConfig.socialLinks || [];
const navLinks = siteConfig.footerNavLinks || [];
---

<Container>
  <!-- <footer class="flex flex-col items-center">
    <div class="text-sm text-center">
      Copyright © {new Date().getFullYear()} Stablo. All rights reserved.
    </div>
    <div
      class="flex justify-center gap-1 mt-1 text-sm text-center text-gray-500 dark:text-gray-600">
      <span>
        Made by{" "}
        <a
          href="https://web3templates.com/?ref=stablo-astro"
          rel="noopener"
          target="_blank">
          Web3Templates
        </a>
      </span>
      <span>&middot;</span>
      <span>
        <a
          href="https://github.com/web3templates/stablo-astro"
          rel="noopener"
          target="_blank">
          Github
        </a>
      </span>
    </div>
    <div class="flex items-center justify-between mt-2">
      <Themeswitch />
    </div>
  </footer>-->

  <footer class="w-full max-w-3xl mx-auto pt-12 pb-10 sm:pt-24 sm:pb-14">
    {
      navLinks.length > 0 && (
        <div class="mb-4 flex flex-wrap gap-x-6 gap-y-1">
          {navLinks.map((link) => (
            <a
              class="font-serif hover:underline hover:underline-offset-2"
              href={link.href}>
              {link.text}
            </a>
          ))}
        </div>
      )
    }
    <div
      class:list={[
        "pt-6 flex flex-col gap-4 border-t border-dashed border-gray-500",
        {
          "sm:flex-row-reverse sm:justify-between sm:items-center":
            socialLinks.length > 0,
        },
      ]}>
      {
        socialLinks.length > 0 && (
          <div class="flex flex-wrap gap-x-4 gap-y-1">
            {socialLinks.map((link) => (
              <a
                class="inline-flex items-center justify-center text-sm hover:underline hover:underline-offset-2"
                href={link.href}
                target="_blank"
                rel="noopener noreferer">
                {link.text}
              </a>
            ))}
          </div>
        )
      }
      <p class="text-sm">
        &copy; {new Date().getFullYear()}&nbsp;<a
          class="hover:underline hover:underline-offset-2"
          href="/">{siteConfig.title}</a
        >.<br>
        544 Western Rhodes Dr, Highlands, NC 28741, USA
      </p>
    </div>
  </footer>
</Container>
